<header>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img-fluid rounded" src="/assets/main-logo.png" alt="Logo"/></a>
        <ul class="navbar-nav align-items-center justify-content-end">
          <li class="nav-item"><a routerLink="/" class="nav-link menu-item">Home</a></li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link menu-item" data-toggle="dropdown" id="test_menu_dropdown" aria-haspopup="true" aria-expanded="false" href="#">Test menu 2</a>
              <div class="dropdown-menu" aria-labelledby="test_menu_dropdown">
                  <a class="dropdown-item" routerLink="/projectItem" >Test ProjectItem 1</a>
                  <a class="dropdown-item" href="#">Test Dropdown Item 2</a>
                  <a class="dropdown-item" href="#">Test Dropdown Item 3</a>
                  <a class="dropdown-item" routerLink="/projectList">Test Dropdown Item 4</a>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link menu-item" routerLink="/detailedIntro">Introduction</a></li>
        </ul>
      </div>
    </nav>
  </header>
<router-outlet></router-outlet>
<!--<app-landingpage></app-landingpage>-->
<footer class="container-fluid">
    <ul class="row align-items-center justify-content-center">
      <li><a class="col" href="#">Test Content 1</a></li>
      <li><a class="col" href="#">Test Content 2</a></li>
      <li><a class="col" href="#">Test Content 3</a></li>
    </ul>
</footer>