/* Introduction
-------------------------------------*/
.introduction-wrapper {
    padding-top: 150px;
    padding-bottom: 50px;
    background: rgb(245, 244, 244);
}

.name-content {
    font-size: 140px;
    font-family: 'Bebas Neue', cursive;
}

.job-content {
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
}

.text-content{
    margin-top: 75px;
    text-indent: 5%;
    line-height: 45px;
}

.summary > p {
    font-size: 22px;
    text-align: justify;
    font-family: 'Playfair Display', serif;
}

.text-content ul {
    margin-top: 35px;
    list-style-type: none;
    justify-content: space-evenly;
}

.text-content ul li > a{
    font-size: 22px;
    background-color: grey;
    border-radius: 10%;
    padding: 5px;
    color: honeydew;
}

.image-content {
    justify-self: center;
}
/*----------------------PROJECTS--------------*/

.project {
    display: inline-block;
    background: rgb(245, 244, 244);
    max-width: 600px;
    height: 300px;
    margin-left: 25px;
    margin-top: 60px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
}

.project  h6 {
    font-size: 25px;
}

.project img {
    margin-left: 150px;
}

.project p {
    text-align: justify;
    font-family: 'Playfair Display', serif;
    padding: 10px 40px;
}