<header class="site-header position-relative d-none d-lg-block">
  <div class="container-fluid pr-lg--30 pl-lg--30">
    <div
      class="row justify-content-between align-items-center position-relative"
    >
      <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
        <!-- Brand Logo -->
        <div class="brand-logo">
          <a href=""><img src="/assets/main-logo.png" alt=""/></a>
        </div>
      </div>
      <!-- Menu Block -->
      <div class=" col-6 col-sm-1 col-lg-6 col-xl-8   position-static order-lg-2">
        <div class="main-navigation ">
          <ul class="main-menu">
            <li class="menu-item has-dropdown">
              <a href="#features">Projects</a>
              <ul class="menu-dropdown">
                <li class="single-item">
                  <a href="../s01/index.html">
                  <h3>Test Project</h3> 
                  <p>Test project description</p>
                  </a>
              </li>
              </ul>
            </li>
            <li class="menu-item "><a href="#features">Introduction</a></li>

            <li class="menu-item"><a href="#">Contact</a></li>
          </ul>
          <div class="header-btns justify-content-end">
            <a href="#" class="btn btn--primary btn--medium">Download Now</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</header>