<div class="container subscription-text">
    <h4 class="row justify-content-center ">Subscription</h4>
    <p class="row justify-content-center ">Subscription test text</p>
</div>
<div class="flex-container">
    <form class="row justify-content-center " [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <ul class="col-10">
        <li class="row justify-content-center" >
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name">
            <div class="col"  *ngIf="form.get('name').hasError('pattern')" class="alert-warning">
                Invalid Characters
            </div>
        </li>
        <li class="row justify-content-center" >
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName="email">
            <div class="col"  *ngIf="form.get('email').hasError('email')" class="alert-warning">
                Invalid Email
            </div>
        </li>
    </ul>
    <button class="col-3" type="submit" [disabled]="!form.valid">Submit</button>
</form>
</div>