.item-wrap { 
    padding-bottom: 180px;
}

.item-wrap h1{
    padding-bottom: 10px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

.item-wrap h4{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

aside {
    float: left;
    padding-left: 2.5%;
    padding-top: 2.5%;
    overflow: auto;
}

aside li {
    margin-top: 3%;
}

.content-wrapper {
    float: right;
    margin: 0 1.5%;
}

summary, article {
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: larger;
    margin-bottom: 5%;
}

img {
    margin: 1% 0% 2% 2%;
}

article {
    text-indent: 50px;
    margin: 15px;
}

.img-with-text {
    text-align: center;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 376px) {
    .item-wrap h1{
        font-size: 20px; 
    }
    .item-wrap h4, h5 {
        font-size: 15px; 
    }
    summary, article {
        font-size: medium;
    }
}

@media screen and (min-width: 377px){
    .item-wrap h1{
        font-size: 25px; 
    }
    .item-wrap h4, h5 {
        font-size: 18px; 
    }
    aside {
        width: 30%;
    }
    .content-wrapper {
        width: 65%;
    }
    summary, article {
        font-size: medium;
    }
}

@media screen and (min-width: 576px) {
    .item-wrap h1{
        font-size: 28px; 
    }
    .item-wrap h4, h5 {
        font-size: 18px; 
    }
    summary, article {
        font-size: medium;
    }
}

@media screen and (min-width: 768px) {
    .item-wrap h1{
        font-size: 30px; 
    }
    .item-wrap h4, h5 {
        font-size: 18px; 
    }
    summary, article {
        font-size: medium;
    }
}

@media screen and (min-width: 992px) {
    .item-wrap h1{
        font-size: 35px; 
    }
    .item-wrap h4, h5 {
        font-size: 25px; 
    }
    aside {
        width: 15%;
    }
    .content-wrapper {
        float: right;
        margin: 0 1.5%;
        width: 80%;
    }
    summary, article {
        font-size: medium;
    }
}

@media screen and (min-width: 1200px) {
    .item-wrap h1{
        font-size: 50px; 
    }
    .item-wrap h4, h5 {
        font-size: 30px; 
    }
}