<div class="container-fluid item-wrap">
    <div class="row justify-content-center">
        <aside class="">
            Project categories
            <ul>
               <li *ngFor="let category of projectItem.categoryList">{{ category }}</li>
            </ul>
            Used technolgies
            <ul>
               <li *ngFor="let technology of projectItem.technologyList">{{ technology }}</li>
            </ul>
        </aside>
        <div class="content-wrapper">
            <h1 class="col-md-9 offset-2">{{ projectItem.title }}</h1>
            <h4 class="col-md-6 offset-xlg-5 offset-md-4 offset-3">{{ projectItem.subheader }}</h4>
            <summary class="col-7 offset-3" [innerHTML]="projectItem.summary "></summary>
            <h5 class="col-9 offset-2">Abstract</h5>
            <article class="col-9 offset-2" [innerHTML]="projectItem.abstract"></article>
        </div>
    </div>
</div>