.intro-wrapper{
    margin-bottom: 5%;
}

.intro-pic {
    float: center;
    margin-right: 5%;
    margin-bottom: 10%;
}

.name-content{
  justify-content: right;
}

aside {
    float: left;
    padding-left: 2.5%;
    width: 30%;
    padding-top: 2.5%;
    overflow: auto;
}

aside > h4 {
    margin-top: 8%;
    margin-bottom: 10%;
}

aside li {
    margin-top: 8%;
 }

.intro-section {
    float: right;
    margin: 0 1.5%;
    width: 60%;
}

.intro-section > h1{
   margin-bottom: 10%;
   margin-left: 10%;
   margin-top: 5%;
}

h4{
    margin-bottom: 2%;
 }

 section li {
    font-size: 20px;
    margin-top: 2%;
 }

 section p {
    text-align: justify;
 }

 @media screen and (max-width: 376px) {
    aside li {
        font-size: 15px;
     }
     h4{
        font-size: 25px;
     }
     .intro-text, section > p{
        font-size: 15px;
    }
    .intro-wrapper h1 {
        text-align: center;
    }

    h5 {
        font-size: smaller;
    }
}

@media screen and (min-width: 377px){
    aside li {
        font-size: 15px;
     }
     h4{
        font-size: 25px;
     }
     .intro-text, section > p{
        font-size: 16px;
    }
    .intro-pic {
        float: right;
    }
}

@media screen and (min-width: 576px) {
 
}

@media screen and (min-width: 768px) {
    aside li {
        font-size: 16px;
     }
     
}

@media screen and (min-width: 992px) {
    aside li {
        font-size: 18px;
     }
     h4{
        font-size: 25px;
     }
     .intro-text, section > p{
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    aside li {
        font-size: 20px;
     }
     h4{
        font-size: 35px;
     }
     .intro-text, section > p{
        font-size: 20px;
    }
}
