<div class="container-fluid intro-wrapper">
    <div class="row">
            <aside class="col-2">
                <div class="wrap-aside" >
                    <h4>Test skills</h4>
                    <ul>
                        <li>
                            Test skill group 1
                            <ul>
                                <li>
                                    Test skill 1.1
                                </li>
                                <li>
                                    Test skill 1.2
                                </li>
                            </ul>
                        </li>
                        <li>
                            Test skill group 2
                            <ul>
                                <li>
                                Test skill 2
                                </li>
                            </ul>
                        </li>
                        <li>
                            Test skill 3
                        </li>
                    </ul>
                </div>
            </aside>
        <section class="col-9 intro-section">
            <h1 class="name-content">Name Content</h1>
            <img class="intro-pic col-3" src="../assets/profile.jpeg" alt="Profile picture"/>
            <div>
                <h4>Introduction</h4>
                <section>
                 <p class="col-8 intro-text">Test descsription for school 1. Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 </section>
            </div>
            <div>
                <h4>Education</h4>
                <ul>
                    <li>
                        <section>
                            <h5>Test-Date1 Test School Name 1</h5>
                            <p class="col-8">Test descsription for school 1. Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </section>
                    </li>
                    <li>
                        <section>
                            <h5>Test-Date2 Test School Name 2</h5>
                            <p  class="col-8">Test descsription for school 2. Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </section>
                    </li>
                </ul>
            </div>
            <div>
                <h4>Job experiences</h4>
                <ul>
                    <li>
                        <section>
                            <h5>Test-Date1 Test Company Name 1</h5>
                            <p class="col-8">Test descsription for school 1.  Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </section>
                    </li>
                    <li>
                        <section>
                            <h5>Test-Date2 Test Company Name 2</h5>
                            <p  class="col-8">Test descsription for school 2.  Short Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </section>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>